<%- include('./includes/head.ejs') %>

    <link rel="stylesheet" href="/css/dashbroad.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/table.css" />
  </head>
  <body>
    <%- include('./includes/navigation.ejs') %>
    <main class="main__dashbroad">
      <header class='box__inforBroad'>
        <div class="box__inforBroad--User">
          <div >
            <h4>USER</h4>
            <p>100</p>
          </div>
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="box__inforBroad--Order">
          <div >
            <h4>ORDER</h4>
            <p>100</p>
          </div> 
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
        </div>
        <div class="box__inforBroad--Earnings">
          <div >
            <h4>EARNINGS</h4>
            <p>$100</p>
          </div>      
          <i class="fas fa-coins    "></i>
        </div>
        <div class="box__inforBroad--Blance">
          <div >
            <h4>BALANCE</h4>
            <p>$100</p>
          </div>     
          <i class="fas fa-wallet   "></i>
        </div>
      </header>
      <article >
      <h2 style="color: rgb(141, 141, 141)"><%= Heading %></h2>
        <%- include('./includes/table.ejs') %>
      </article>
    </main>

<%- include('./includes/foot.ejs') %>